.container {
    text-align: left;
    margin: 10px 0;
}

.withIcon {
    background-color: #f9fbfb;
    border-radius: 5px;
}

.withIcon input {
    font-size: 15px;
}

.withIcon input::placeholder {
    font-size: 15px;
    color: #bcc8d2;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.withIcon svg {
    fill: #bcc8d2;
}

.withIcon fieldset {
    border-color: transparent;
}

.default {
    border-radius: 5px;
}

.default input,
.default textarea {
    font-size: 13px;
    font-weight: 500;
}

.withIcon input::placeholder,
.withIcon textarea::placeholder {
    font-size: 13px;
    color: #bcc8d2;
}

.default fieldset {
    border-color: #b9c9d4;
    border-width: 2px;
}

.errorText {
    padding: 5px 0 0 5px;
    font-size: 12px;
    color: #f44336;
}
