.container {
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 15px;
}

.row {
    display: flex;
    flex-direction: row;
}

.row div:nth-child(2) {
    margin-left: 20px;
}
