*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    color: #0039d4;
}

.container {
    text-align: center;
    width: 800px;
    margin: 0 auto;
    min-height: 100vh;
    outline: #131313 groove 1px;
    background-color: #fff;
}
